<launch>

    <!-- Launch openpose_ros_respond node -->
    <node pkg="openpose_ros_respond" type="openpose_ros_respond_node" name="openpose_ros_respond_node" output="screen">
        <rosparam command="load" file="$(find openpose_ros_respond)/config/openpose_ros_respond.yaml"/>
    </node>

</launch>