<launch>

  <!-- Start openpose_ros_receiver_broadcaster_node -->
  <node pkg="openpose_ros_receiver" type="openpose_ros_receiver_broadcaster_node" name="openpose_ros_receiver_broadcaster_node" output="screen">
    <rosparam command="load" file="$(find openpose_ros_receiver)/config/config.yaml"/>
  </node>

  <!-- Start openpose_ros_receiver_listener_node -->
  <node pkg="openpose_ros_receiver" type="openpose_ros_receiver_listener_node" name="openpose_ros_receiver_listener_node" output="screen">
    <rosparam command="load" file="$(find openpose_ros_receiver)/config/config.yaml"/>
  </node>

</launch>