<?xml version="1.0"?>
<launch>


  <!-- True if using rosbags -->
  <arg name="sim" default="true" /> 

  <!-- True if running camera and not a rosbag -->
  <arg name="live_camera" default="false" />

  <!-- Always false if running manos -->
  <arg name="manos_tf" default="false" />

  <param name="use_sim_time" value="$(arg sim)" />

  <include file="$(find openpose_utils_launch)/launch/whole_pipeline_xtion_with_marker.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="live_camera" value="$(arg live_camera)"/>
    <arg name="manos_tf" value="$(arg manos_tf)"/>
  </include>

</launch>
