<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />
  <arg name="live" default="false" />
  <arg name="limited" default="true"/>
  <include file="$(find manos_description)/launch/ur3_pg70_upload.launch" unless="$(arg live)">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" unless="$(arg live)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg live)"/>

  <include file="$(find openpose_utils_launch)/launch/whole_pipeline_orbbec.launch">
    <arg name="live" value="$(arg live)"/>
  </include>

  <arg name="camera" default="camera" />

  <node pkg="tf" type="static_transform_publisher" name="dummy_tf_publisher"
        args="0 0 0 0 0 0 /dummy_link /camera_link 100" />

  <node unless="$(arg live)" pkg="tf" type="static_transform_publisher" name="dummy_tf_publisher2"
        args="0 0 0 0 0 0 /camera_link /camera_rgb_optical_frame 100" />
        
  <node pkg="tf" type="static_transform_publisher" name="static_marker_link_publisher"
        args="-0.406 0.406 0 0 0 0 /base_link /ar_marker_link 100" />

  <arg name="marker_size" default="14.4" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/camera/rgb/image_raw" />
  <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
  <arg name="output_frame" default="/camera_link" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
    <param name="output_frame"          type="string" value="$(arg output_frame)" />

    <remap from="camera_image"  to="$(arg cam_image_topic)" />
    <remap from="camera_info"   to="$(arg cam_info_topic)" />
  </node>

  <node pkg="tf_based_on_ar_marker" type="tf_based_on_ar_marker.py" respawn="false" name="tf_based_on_ar_marker" output="screen">
    <rosparam file="$(find manos_vision)/config/connect_trees2.yaml" command="load"/>
  </node>

</launch>
