<?xml version="1.0"?>
<launch>
	<arg name="live" default="false" />
	<param name="use_sim_time" value="true" />

	<include file="$(find openpose_utils_launch)/launch/openpose_ros_orbbec.launch" >
		<arg name="live" value="$(arg live)"/>
	</include>

	<include file="$(find openpose_ros_receiver)/launch/openpose_ros_receiver_xtion_orbbec.launch"/>

</launch>
