<?xml version="1.0"?>
<launch>

	<arg name="live_camera" default="true" />

	<include file="$(find openpose_utils_launch)/launch/openpose_ros_xtion.launch">
		<arg name="live_camera" value="$(arg live_camera)" />
	</include>

	<include file="$(find keypoint_3d_matching)/launch/keypoint_3d_matching.launch"/>

</launch>
